{
  AccessModifierOffset: -4,
  AlignEscapedNewlinesLeft: true,
  AlignTrailingComments: false,
  AllowAllParametersOfDeclarationOnNextLine: false,
  AllowShortBlocksOnASingleLine: true,
  AllowShortFunctionsOnASingleLine: Empty,
  AllowShortIfStatementsOnASingleLine: false,
  AllowShortLoopsOnASingleLine: false,
  AlwaysBreakBeforeMultilineStrings: true,
  AlwaysBreakAfterReturnType: None,
  AlwaysBreakTemplateDeclarations: true,
  BasedOnStyle: Mozilla,
  BinPackParameters: true,
  BraceWrapping: {
    AfterClass: true,
    AfterControlStatement: true,
    AfterEnum: true,
    AfterFunction: true,
    AfterNamespace: true,
    AfterStruct: true,
    AfterUnion: true,
    AfterExternBlock: true,
    BeforeCatch: true,
    BeforeElse: true,
    IndentBraces: false,
    SplitEmptyFunction: false,
    SplitEmptyRecord: false,
    SplitEmptyNamespace: true,
  },
  BreakBeforeBinaryOperators: false,
  BreakBeforeBraces: Custom,
  BreakBeforeTernaryOperators: true,
  BreakConstructorInitializersBeforeComma: false,
  ColumnLimit: 80,
  ConstructorInitializerAllOnOneLineOrOnePerLine: false,
  ConstructorInitializerIndentWidth: 2,
  ContinuationIndentWidth: 4,
  Cpp11BracedListStyle: true,
  DerivePointerBinding: true,
  ExperimentalAutoDetectBinPacking: false,
  IndentCaseLabels: true,
  IndentFunctionDeclarationAfterType: false,
  IndentWidth: 4,
  KeepEmptyLinesAtTheStartOfBlocks: true,
  Language: Cpp,
  MaxEmptyLinesToKeep: 1,
  NamespaceIndentation: All,
  PenaltyBreakBeforeFirstCallParameter: 10,
  PenaltyReturnTypeOnItsOwnLine: 1000000,
  PointerBindsToType: true,
  SpaceAfterControlStatementKeyword: false,
  SpaceBeforeAssignmentOperators: true,
  SpaceBeforeParens: Never,
  SpaceInEmptyParentheses: false,
  SpacesBeforeTrailingComments: 1,
  SpacesInAngles: false,
  SpacesInCStyleCastParentheses: false,
  SpacesInParentheses: false,
  Standard: Cpp11,
  TabWidth: 4,
  UseTab: Never,
}
